# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
dist
.next
.vercel
.turbo
build-storybook
coverage

# Documentation
*.md

# Minified files
*.min.js
*.min.css

# Storybook
.storybook
